<%= render 'public/homes/top_header' %>


<div class="container mt-5">
 <div class="row">
  <div class="col-sm-2">
  <!--ジャンル検索機能-->
  </div>
　
 <div class="row">
   <div class="col-sm-2"></div>
    <div class="col-sm-2">
  　<span><%= image_tag 'home.jpg', size: "180x104" %></span>
      <p>商品名</p>
      <p>￥0,000</p>
    </div>
 
    <div class="col-sm-2">
  　<span><%= image_tag 'home.jpg', size: "180x104" %></span>
      <p>商品名</p>
      <p>￥0,000</p>
    </div>
    
    <div class="col-sm-2">
  　<span><%= image_tag 'home.jpg', size: "180x104" %></span>
      <p>商品名</p>
      <p>￥0,000</p>
    </div>
    
    <div class="col-sm-2">
  　<span><%= image_tag 'home.jpg', size: "180x104" %></span>
      <p>商品名</p>
      <p>￥0,000</p>
    </div>
 </div>
</div>