<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
  <span><%= image_tag 'naganocake.jpg', size: "100x40", class: "navbar-brand" %></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav_btn"><%= link_to 'About', home_about_path, class: "btn btn-outline-secondary btn-md text-dark btn btn-light" %></li>
          <li class="nav_btn"><%= link_to '商品一覧', admin_items_path, class: "btn btn-outline-secondary btn-md text-dark btn btn-light" %></li>
          <li class="nav_btn"><%= link_to '新規登録', new_admin_registration_path, class: "btn btn-outline-secondary btn-md text-dark btn btn-light" %></li>
          <li class="nav_btn"><%= link_to 'ログイン', new_admin_session_path, class: "btn btn-outline-secondary btn-md text-dark btn btn-light" %></li>
        </ul>
      </div>
        <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
  </div>
</header>

<!--<div class='container'>-->
    <!--<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">-->
<!--</div>-->
  
  
<div class="container">
    <div class="form-group row">
        <div class="mt-5 col-sm-2.5">
      <h4 class="bg-secondary text-light">管理者ログイン</h4>
    </div>
  </div>
      <%= form_with model: @admin, url: admin_sessions_path, local: true do |f| %>
        <div class="form-group row">
          <%= f.label :メールアドレス, class: "ml-auto col-sm-2 col-form-label" %><br />
          <div class="mr-auto col-sm-6">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"sample@example.com" %>
          </div>
        </div>
      
        <div class="form-group row">
          <%= f.label :パスワード, class: "ml-auto col-sm-2 col-form-label" %><br />
          <div class="mr-auto col-sm-6">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
        </div>
        
        
      <div class="form-group row">
        <div class="ml-auto col-sm-8">
          <%= f.submit "ログイン", class: "btn btn-primary col-sm-2" %>
        </div>
      </div>
      <% end %>
  </div>
