<%= render 'public/homes/top_header' %>


<div class="container mt-5">
 <div class="row">
  <div class="col-sm-2">
  <!--ジャンル検索機能-->
  </div>
  <div class="col-md-8">
  <span><%= image_tag 'home.jpg', class: "card-img", size: "640x312" %></span>
   <div class="card-img-overlay font-weight-bold font-italic ml-3">
    <br>ようこそながのCAKEへ</br>
    <br>このサイトは、ケーキ販売のECサイトになります。</br>
    <br>会員ではない方も商品の閲覧はできますが、</br>
    <br>購入には会員登録が必要になります。</br>
　 </div>
　</div>
</div>
　
 <div class="row">
    <div class="col-sm-2 ml-3"></div>
   <h3>新着商品</h3>
</div>
　
 <div class="row">
    <% @items.each do |item| %>
    <div class="col-sm-3">
      <span><%= link_to item_path(item.id) do %>
            <%= attachment_image_tag item, :image, size: "180x104", fallback: "no_image.jpg" %>
            <% end %></span>
      <small><p><%= item.name %></p></small>
      <p>¥<%= converting_to_jpy(item.with_tax_price) %></p>
    </div>
  <% end %>
    </div>


<div class="text-right">
<button type="button" class="btn btn-link"><%= link_to '全ての商品を見る>', items_path %></button>
</div>