<%= render 'public/homes/top_header' %>

<!--配送先登録/一覧画面-->
<div class="container">
  <div class="form-group row">
    <div class="mt-5 col-sm-2.5">
      <h5 class="bg-light"><strong>配送先登録/一覧</strong></h5>
    </div>
  </div>

<%= form_with model: @address, url: address_path, local: true do |f| %>
      
     <div class="field row mt-2">
        <div class="col-sm-2">
        <small><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></small>
        </div>
        <div class="col-sm-3">
         <%= f.text_field :postal_code, autofocus: true, placeholder:"0000000", class: "form-control form-control-sm" %>
        </div>
    </div>
      
     <div class="field row mt-2">
        <div class="col-sm-2">
        <small><%= f.label :address, "住所" %></small>
        </div>
        <div class="col-sm-6">
         <%= f.text_field :address, autofocus: true, placeholder:"東京都渋谷区代々木神園町0-0", class: "form-control form-control-sm" %>
        </div>
    </div>
      
     <div class="field row mt-3">
        <div class="col-sm-2">
        <small><%= f.label :name, "宛名" %></small>
        </div>
        <div class="field col-sm-3">
          <%= f.text_field :name, autofocus: true, placeholder:"令和道子", class: "form-control form-control-sm" %>
        </div>
       <div class="col-sm-3"></div>
       <div class="col-sm-2">
        <%= f.submit '変更内容を保存', class:"btn btn-success btn-sm btn-block" %>
       </div>
    </div>
    <% end %>
      </div>
     </div>