  
<%= render 'public/homes/top_header' %>

<!--管理者ログイン登録画面-->
<div class="container">
  <div class="row">
    <div class="mt-5 col-sm-2.5">
      <h5 class="bg-light"><strong>管理者ログイン</strong></h5>
    </div>
  </div>

<%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
      
     <div class="field row mt-2 mx-auto">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
        <small><%= f.label :email, "メールアドレス" %></small>
        </div>
        <div class="field col-sm-6">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com", class: "form-control form-control-sm" %>
        </div>
    </div>
      
     <div class="field row mt-2 mx-auto">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
        <small><%= f.label :password, "パスワード" %></small>
        </div>
        <div class="col-sm-6">
         <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-sm" %>
        </div>
    </div>
      
     <div class="form-group row mt-5">
      <div class="col-sm-3"></div>
       <div class="col-sm-2">
        <%= f.submit 'ログイン', class:"btn btn-primary btn-md btn-block" %>
    <% end %>
       </div>
      </div>
     </div>

<!--<%= render "customers/shared/links" %>-->
